@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the app where you can find LDS Church Movies</h1>
    <p>Learn about <a href="https://www.churchofjesuschrist.org/">the LDS Church</a>.</p>
</div>
